.EnterDiv {
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
}

.inputJoin {
  text-align: center;
  position: center;
}

#input {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.disabled {
  display: none;
}

.deleteImgButton{
  height: auto;
  width: auto;
  margin-top: 5px;
}
.divForDel{
  display: -webkit-box;
  margin-left: 15px;
  word-break: break-all;
}

.linkToGroup{
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.imgForTutor{
  max-width: 80%;
  margin-left: 10%;
}

.img {
  width: 30px;
  height: 30px;
  border: 0px solid #0c0d13;
  border-radius: 30px;
}

.avatar {
  margin-left: 30px;
}

.cell {
  font-size: 90px;
  border-radius: 10px;
  margin-bottom: 10px;
  /*background: white;*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.18);
}

.SELFcell {
  font-size: 90px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid #4680C2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.18);
}

.QueueCellStyle {
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.idAvatar {
  margin-right: 90px;
  font-size: 18px;
}

.nameUser {
  font-size: 18px;
}

.inputCodeDiv {
  margin: 30px auto;
}

.AdminButtonDeactivated {
  display: none;
}

.noScrollButton{
  overflow:hidden
}

.ButtonsDiv {
  align-content: center;
  display: flex;
  position: sticky;
  top: 44px;
  z-index: 4;
  margin-top: -4px;
  /*background: white;*/
}

.ButtonsDiv2 {
  align-content: center;
  display: flex;
  position: sticky;
  z-index: 4;
}

.ButtonDivIOS {
  align-content: center;
  display: flex;
  position: sticky;
  top: 50px;
  z-index: 3;
  /*background: white;*/
  padding-top: 47px;
  margin-top: -44px;
}

.ButtonDivIOS2 {
  align-content: center;
  display: flex;
  z-index: 3;
}

.centeredButtonLEFT {
  position: relative;
  margin-left: auto;
}

.centeredButtonRIGHT {
  position: relative;
  margin-right: auto;
}

.OnlySkipButton {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.refreshButton{
  margin-bottom: 10px;
}

.emoji {
  font-size: 100px;
}

.turnOff {
  display: none;
}

.CSSAddNewUserButton{
  margin-left: 10px;
}

.CSSAddNewUserInput{
  width: 60%;
}

.AddNewUserDiv {
  display: flex;
  margin-bottom: 10px;
}

.AddPersonButton {

}

.adminButtonStyle {

}

.userCard {
  display: flex;
}

.showActionsButton {
  margin-left: auto;
  margin-right: auto;
  /*background-color: #6d7885;*/
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  background-color: white;
  z-index: 4;
}

.showActionsButtonDark {
  margin-left: auto;
  margin-right: auto;
  /*background-color: #6d7885;*/
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  background-color: #232324;
  z-index: 4;
}

.CSSMenuDropout {
  width: 252px;
  display: inline-block;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 0px 0px 10px 10px;
  transition-duration: 1000ms;
}

.CSSMenuDropoutDark {
  width: 252px;
  display: inline-block;
  position: absolute;
  background-color: #232324;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 0px 0px 10px 10px;
  transition-duration: 1000ms;
}

.exitQueueButton {

}

.AvatarInQueueDiv {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 106px;
  height: 106px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

}

.AvatarInQueue {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.QueueINFO {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  margin-top: -60px;
}

.miniInfoCellDIV {
  margin-top: 40px;
}

.editQueueButton {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.giveAdmin {
  margin-bottom: 20px;
  margin-top: -15px;
  position: sticky;
  top: 55px;
  z-index: 3;
}

.giveAdminIOS {
  margin-bottom: 20px;
  margin-top: -15px;
  position: sticky;
  top: 97px;
  z-index: 3;
}

.dateAndTimeInputButton{

}

.dateInput{

}

.timeInput{

}

.uploadedImgName {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -17px;
  width: 90%;
}

.divWrapperForFileName{

}
.createQueuePanel {
  overflow: hidden;
}

img {
  width:100%;
  object-fit:cover;
}

.copyText {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

.buttonForFirst {
  display: table;
  margin-top: -10px;
  margin-bottom: -15px;
  width: auto;
  height: auto;

}

.joinBTN {
  margin-right: auto;
  margin-left: auto;
  display: table;
}

.headerUsers {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/*.PanelHeader--ios.PanelHeader--no-right .PanelHeader__content>* {*/
/*  padding-right: 75px;*/
/*  text-align: left;*/
/*}*/

.HeaderOfQueue {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

/*.homeHeader {*/
/*  padding-right: 20%;*/
/*}*/

.defaultSpinner {
  display: flex;
  margin-bottom: 10px;
}

.buttonContinue {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 80%;
  margin-top: -10px;
}

.textInstruction {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -27px;
}

.textInstruction2 {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  color: #828282;
}
